<div id='container'>
<!-- Your code here -->
<!-- loginform.$valid && login.submit() -->
  <form name="myform" ng-submit="myform.$valid && addLink()">
    <input class='text' type='url' name='url' ng-model="link.url" required>
    <input type='submit' value='Shorten'>
  <div role="alert">
    <span class="error" ng-show="myform.input.$error.required">Required!</span>
    <span class="error" ng-show="myform.input.$error.url">Not valid url!</span>

  </div>

  </form>
  
  <div class='message' ng-model="link.url"></div>
      <tt>text = {{url.text}}</tt><br/>
    <tt>myform.input.$valid = {{myform.input.$valid}}</tt><br/>
    <tt>myform.input.$error = {{myform.input.$error}}</tt><br/>
    <tt>myform.$valid = {{myform.$valid}}</tt><br/>
    <tt>myform.$error.required = {{!!myform.$error.required}}</tt><br/>
    <tt>myform.$error.url = {{!!myform.$error.url}}</tt><br/>

</div>


